@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}

.all {
  overflow: hidden;
  max-width: 100%;
}

header, .main, footer, .img {
  width: 100%;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.div {
  display: block;
}

body {
  margin: 0;
  max-width: 100%;
}

h1, p, a {
  font-family: "游ゴシック体", YuGothic;
}

header {
  height: 80px;
  background: #fff;
}

.logo {
  float: left;
  margin: 12px 0 0 0;
}

.sp-img {
  display: none !important;
}

.menupc ul {
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.menupc li {
  font-size: 18px;
  padding: 31px 0 31px 40px;
  line-height: 1;
}

.menupc li a {
  text-decoration: none;
  color: #642A0A;
  font-weight: 600;
}

.menusp {
  display: none;
}

.container {
  width: 980px;
  margin: 0 auto;
  max-width: 100%;
}

.main {
  height: 738px;
  width: 100%;
  height: auto;
  text-align: center;
}

h1 {
  color: #642A0A;
  text-align: center;
  font-size: 36px;
  line-height: 1.69;
}

.skill {
  padding: 88px 0 0px 0;
  height: 1021px;
}

.skill-wrapper {
  display: flex;
  justify-content: center;
}

.skill-wrapper .skill-colum1 {
  margin-top: 88px;
  margin-right: 90px;
}

.skill-wrapper .skill-colum1 img {
  margin-bottom: 74px;
}

.skill-wrapper .skill-colum1 p {
  margin-bottom: 234px;
  font-weight: 500;
  line-height: 1.69;
}

.skill-wrapper .skill-colum2 {
  margin-top: 84px;
  margin-left: 90px;
}

.skill-wrapper .skill-colum2 p {
  margin-bottom: 227px;
  font-weight: 500;
  line-height: 1.69;
}

.brsp {
  display: none;
}

.brpc {
  display: block;
}

.skill-colum2-sp {
  display: none;
}

.about {
  background-color: #FFF3DD;
  text-align: center;
  height: 710px;
  padding-top: 89px;
}

.about h1 {
  margin-bottom: 37px;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 58px;
}

.cute {
  margin-top: 20px;
  font-weight: 500;
  line-height: 1.69;
}

.about-colum1 {
  margin-right: 95px;
}

.about-colum2 {
  margin-left: 87px;
}

.about-colum2 .cute {
  padding-right: 3px;
}

.btn1 {
  width: 118px;
  height: 50px;
  padding: 14px 35px;
  border: 3px solid #5F220F;
  text-align: center;
  text-decoration: none;
  color: #5F220F;
  background-color: #fff;
  border-radius: 25px;
}

.btn1:hover {
  background-color: #5F220F;
  color: #fff;
}

.contact {
  padding: 89px 0 100px 0;
  height: 586px;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  margin: 37px 0 0 0;
}

.contact-colum1 {
  margin: 0 100px 0 90px;
}

.contact-colum2 {
  margin: 0 90px 0 100px;
  text-align: center;
  height: 96px;
  width: 300px;
  padding: 97px 0 50px 0;
}

.come {
  font-weight: 500;
  line-height: 1.69;
  font-size: 16px;
}

.btn-map {
  margin-top: 35px;
}

.btn-map .btn2 {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  border: solid 3px #5f2201;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.69;
  text-align: center;
  text-decoration: none;
  color: #5F220F;
  padding: 15px 28px;
}

.btn2:hover {
  background-color: #5F220F;
  color: #fff;
}

footer {
  text-align: center;
  background-color: #B9B9B9;
  height: 60px;
  color: #fff;
}

footer p {
  padding: 17px 0 0 0;
  font-size: 12px;
  line-height: 2.25;
}
