@media screen and (max-width: 980px) {
  .container {
    padding: 0 15px;
  }
  p {
    font-size: 15px;
  }
  .come {
    font-size: 15px;
  }
  .skill-wrapper .skill-colum1 {
    margin-right: auto;
  }
  .skill-wrapper .skill-colum2 {
    margin-left: auto;
  }
  img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }
  .contact {
    height: auto;
  }
  .contact-colum1 {
    margin: 0 auto;
  }
  .contact-colum2 {
    padding: 50px 0 50px 0;
    margin: 0px 90px 0 90px;
  }
}
