@media screen and (max-width: 767px) {
  .body {
    width: auto;
  }
  .sp-img {
    display: block !important;
    margin: 0 auto;
  }
  .pc-img {
    display: none !important;
  }
  .brsp {
    display: block;
  }
  .brpc {
    display: none;
  }
  .container {
    padding: 0 15px;
    width: auto;
  }
  header {
    height: 60px;
    max-width: 100%;
  }
  header .logo {
    margin: 20px 0 0 0;
  }
  .container.active {
    padding: 0;
  }
  .menusp {
    display: block;
    position: relative;
  }
  .menusp .menu-btn {
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 60px;
    top: 22px;
    z-index: 100;
  }
  .menusp .menu-btn .line {
    display: block;
    position: absolute;
    width: 19.5px;
    border-bottom: solid 3px #5f2201;
    border-radius: 1.5px;
    transition: 0.35s ease-in-out;
  }
  .menusp .menu-btn .line:nth-child(1) {
    top: 0;
  }
  .menusp .menu-btn .line:nth-child(2) {
    top: 7px;
  }
  .menusp .menu-btn .line:nth-child(3) {
    top: 14px;
  }
  .menusp .menu-btn .line:nth-child(1).active {
    display: block;
    transform: rotate(45deg);
    z-index: 99;
    position: absolute;
    top: 7px;
    bottom: 23px;
  }
  .menusp .menu-btn .line:nth-child(2).active {
    display: block;
    transform: scaleX(0);
    z-index: 99;
  }
  .menusp .menu-btn .line:nth-child(3).active {
    display: block;
    bottom: 20px;
    transform: rotate(135deg);
    z-index: 99;
    position: absolute;
    top: 7px;
  }
  .gnav {
    background-color: #DDDDDD;
    display: none;
    height: 812px;
    position: absolute;
    width: 100%;
    z-index: 98;
  }
  .nav-menu {
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
  }
  .gnav-menu {
    padding: 0;
  }
  .gnav-item {
    list-style: none;
    text-align: center;
  }
  .gnav-item:nth-child(1) {
    margin: 162px 0 0 0;
  }
  .gnav-item:nth-child(2) {
    margin: 117px 0px 0 0;
  }
  .gnav-item:nth-child(3) {
    margin: 118px 0px 0 0;
  }
  .gnav-item a {
    color: #5f2201;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    padding: 40px;
    line-height: 1.04;
  }
  .menupc {
    display: none;
  }
  .main {
    max-width: 100%;
    height: auto;
  }
  .main .sp-img {
    width: 767px;
    max-width: 100%;
    margin: 0;
  }
  h1 {
    font-size: 20px;
    line-height: 1.7;
  }
  .skill {
    padding: 43px 0 0 0;
    height: auto;
    max-width: 100%;
  }
  .skill-wrapper {
    flex-direction: column;
  }
  .skill-wrapper .skill-colum1 {
    margin-top: 33px;
    margin-right: 0;
    margin: 0 auto;
  }
  .skill-wrapper .skill-colum1 img {
    margin-bottom: 26px;
  }
  .skill-wrapper .skill-colum1 p {
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.79;
  }
  .skill-wrapper .skill-colum2-sp {
    display: block;
    margin: 43px auto;
  }
  .skill-wrapper .skill-colum2-sp p {
    margin-top: 26px;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.73;
  }
  .skill-colum2 {
    display: none;
  }
  p {
    font-size: 15px;
  }
  .about {
    max-width: 100%;
    height: 100%;
    padding-top: 41px;
  }
  .about h1 {
    margin-bottom: 35px;
  }
  .about-wrapper {
    flex-direction: column;
  }
  .cute {
    margin-top: 25px;
    line-height: 1.73;
    font-size: 15px;
  }
  .about-colum1 {
    margin-right: 0;
  }
  .about-colum1 .sp-img {
    margin: 0 auto;
  }
  .about-colum2 {
    margin-top: 47px;
    margin-left: 0;
  }
  .about-colum2 .sp-img {
    margin: 0 auto;
  }
  .btn-more {
    margin: 58px 0;
  }
  .contact {
    padding: 42px 0 0 0;
    height: auto;
  }
  .contact .container {
    margin: 0;
  }
  .contact-wrapper {
    flex-direction: column;
  }
  .contact-colum1 {
    margin: 0;
  }
  .contact-colum2 {
    margin: 0 90px 0 90px;
    height: auto;
    width: auto;
    padding: 44px 0 50px 0;
  }
  .come {
    line-height: 1.73;
    font-size: 15px;
  }
  .btn-map {
    margin-top: 36px;
  }
  footer {
    height: 30px;
    max-width: 100%;
  }
  footer p {
    padding: 3px 0 0 0;
    font-size: 12px;
    line-height: 2.25;
  }
}/*# sourceMappingURL=munchkinSp_20240421173052.css.map */